<app-navbar ></app-navbar>
<app-background></app-background>
<!-- <app-background></app-background> -->
<!-- <div class="jumbotron">
  <h1 *ngIf="currentUser">Welcome {{(currentUser.firstName + ' ' + currentUser.lastName) | titlecase }}!</h1>
  <button class="btn btn-success" (click)="getReimb()">LOAD</button>
  <button class="btn btn-success" (click)="logout()">LOGOUT</button>

  <div>
    
</div> -->



<div class="s011 rentalsearch">
    
    <form [formGroup]="prefForm" (ngSubmit)="doSearch()" >
        <fieldset>
            <legend>Search Rentals</legend>
        </fieldset>
        <div class="inner-form">
            <div class="type3 main-form" id="main-form">
                <div class="row">
                    <div class="input-wrap">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>City</label>
                            <input class="form-control" formControlName="city" type="text" placeholder="name of city"/>
                        </div>
                        
                        <!-- <div *ngIf="prefForm.controls['city'].invalid && (prefForm.controls['city'].dirty || prefForm.controls['city'].touched)" class="alert alert-danger">
                            <div *ngIf="prefForm.controls['city'].errors.required">
                            City is required.
                          </div>
                        </div> -->
                        
                    </div>
                    <div class="input-wrap-2">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>State</label>
                            <input class="form-control" formControlName="state_code" type="text" placeholder="VA"/>
                        </div>
                        <!-- <div *ngIf="prefForm.controls['state_code'].invalid && (prefForm.controls['state_code'].dirty || prefForm.controls['state_code'].touched)" class="alert alert-danger">
                            <div *ngIf="prefForm.controls['state_code'].errors.required">
                            State is required.
                          </div>
                        </div> -->
                    </div>
                    <!-- <div class="input-wrap-2">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>Zip Code</label>
                            <input class="form-control" formControlName="zip" type="text" placeholder="55555"/>
                        </div>
                    </div> -->
                </div>
                <div class="row second">
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>MAX PRICE</label>
                            <input formControlName="max_price" class="datepicker flatpickr-input form-control" type="number" placeholder="$ xxx.xx / Month" min="0" step=".01" value="$" />
                        </div>
                    </div>
                    
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>BEDS</label>
                            <input formControlName="num_beds" class="datepicker flatpickr-input" type="number" placeholder="#" min="0" step="0.5" />
                        </div>
                    </div>

                    <div class="input-wrap">
                        <div class="input-field">
                            <label>BATHS</label>
                            <input formConntrolName="num_baths" class="datepicker flatpickr-input" type="number" placeholder="#" min="0" step=".5" />
                        </div>
                    </div>

                    <div class="input-wrap">
                        <div class="input-field">
                            <label>MIN PRICE</label>
                            <input formControlName="min_price" class="datepicker flatpickr-input form-control" type="number" placeholder="$ xxx.xx / Month" min="0" step=".01" value="$" />
                        </div>
                    </div>
                  
                </div>
             
                
                <div class="row last">
                    <button class="btn-search" type="submit" [disabled]="!prefForm.valid">Search</button>
                    <div *ngIf="!prefForm.valid" class="alert alert-danger">
                        <p>City, State(ex: VA), Min Price, and Max Price are all necessary</p>
                    </div>
                </div>
                <div class="row last">
                    <button class="btn-search" (click)="searchWithSavedPref()" [disabled]="!currPref">Use Saved Pref</button>
                    <div *ngIf="!currPref" class="alert alert-danger">
                        <p>No Saved Preference</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <div style="text-align: center;">
        <h1 >Search Results</h1>
        <h2 *ngIf="response; else NRF">Found {{response.length}} Results</h2>
        <ng-template #NRF>No Results Found</ng-template>
    

        <!-- Search component right here
            button must be able to do get request from spring application
        -->
        <div class="container-fluid">
            <!-- <div class="column-lg-8">
                <table class="table-table-bordered table-hover">
                    <thead>
                        <th>Address</th>
                        <th>Price</th>
                        <th>Beds</th>
                        <th>Baths</th>
                         <th>Sq Ft</th>
                        <th>Type</th>
                        <th>Photo</th> 
                        <th>Link</th>
                    </thead>
                    <tbody>
                        <tr><td>123 That Actually Exists Place</td>
                            <td>$5000</td>
                            <td>3</td>
                            <td>4</td>
                            <td><button class="btn-btn-success">Go To</button> </td>
                        </tr>
                        <tr><td>123 That Actually Exists Place</td>
                            <td>$5000</td>
                            <td>3</td>
                            <td>4</td>
                            <td><button class="btn-btn-success">Go To</button> </td>
                        </tr>
                        <tr><td>123 That Actually Exists Place</td>
                            <td>$5000</td>
                            <td>3</td>
                            <td>4</td>
                            <td><button class="btn-btn-success">Go To</button> </td>
                        </tr>   
                    </tbody>
                </table>
            </div> -->
            <div class="col-lg-12"> <!--*ngIf="response"-->
                <!-- Table with ngFor for every object in the response body-->
                <table class="table-table-bordered table-hover" *ngIf="response" id="resulttable">
                    <input type="text" id="myInput" (keyup)="searchTable()" placeholder="Search...">
                    <thead class="row">
                        <th class="col-lg-4" (click)="sortTable(0)">  Address  </th>
                        <th class="col-lg-2" (click)="sortTable(1)">  Price  </th>
                        <th class="col-lg-1" (click)="sortTable(2)">  Beds  </th>
                        <th class="col-lg-1" (click)="sortTable(3)">  Baths  </th>
                        <th class="col-lg-2" (click)="sortTable(4)">  Revature Owned  </th>
                        <th class="col-lg-2" (click)="sortTable(5)">  Link  </th>
                    </thead>
                    <tbody id="resultsbody">
                        <!-- <tr class="row">
                            <td class="col-lg-2">{{dummy.street_num}} {{dummy.street}}, {{dummy.city}}, {{dummy.zip}}</td>
                            <td class="col-lg-2">${{dummy.price}}</td>
                            <td class="col-lg-2">{{dummy.num_beds}}</td>
                            <td class="col-lg-2">{{dummy.num_baths}}</td>
                            <td class="col-lg-2">{{dummy.revemp_owned}}</td>
                            <td class="col-lg-2"><button class="btn-btn-success" (click)="goToIndividualPropertyPage(dummy)">Go To</button> </td>
                        </tr> -->
                        <tr class="row" *ngFor="let property of response">
                            <td class="col-lg-4">  {{property.street_num}} {{property.street}}  <span *ngIf="property.apt_num > 0"> {{property.apt_num}}</span>, {{property.city}}, {{property.zip}}</td>
                            <td class="col-lg-2">  ${{property.price}}  </td>
                            <td class="col-lg-1">  {{property.num_beds}}  </td>
                            <td class="col-lg-1">  {{property.num_baths}}  </td>
                            <td class="col-lg-2">  {{property.revemp_owned}}  </td>
                            <td class="col-lg-2"><button class="btn-btn-success" (click)="goToIndividualPropertyPage(property)">Go To</button> </td>
                            <!-- Perhaps use a DTO instead of a property so that the address, price, & property type are more 
                                easily displayed and formatted
                            -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- SORTING TABLE-->
<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("resulttable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("td")[n];
          y = rows[i + 1].getElementsByTagName("td")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {												
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>
</div>
<div style="height: 70px;"></div>