<app-background></app-background>
<!-- <app-background></app-background> -->
<!-- <div class="jumbotron">
  <h1 *ngIf="currentUser">Welcome {{(currentUser.firstName + ' ' + currentUser.lastName) | titlecase }}!</h1>
  <button class="btn btn-success" (click)="getReimb()">LOAD</button>
  <button class="btn btn-success" (click)="logout()">LOGOUT</button>

  <div>
    
</div> -->



<div class="s011 rentalsearch">
    
    <form [formGroup]="prefForm" (ngSubmit)="doSearch()" >
        <fieldset>
            <legend>Search Rentals</legend>
        </fieldset>
        <div class="inner-form">
            <div class="type3 main-form" id="main-form">
                <div class="row">
                    <div class="input-wrap">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>City</label>
                            <input class="form-control" formControlName="city" type="text" placeholder="name of city"/>
                        </div>
                        <!-- <div *ngIf="prefForm.controls['city'].invalid && (prefForm.controls['city'].dirty || prefForm.controls['city'].touched)" class="alert alert-danger">
                            <div *ngIf="prefForm.controls['city'].errors.required">
                            City is required.
                          </div>
                        </div> -->
                        
                    </div>
                    <div class="input-wrap-2">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>State</label>
                            <input class="form-control" formControlName="state_code" type="text" placeholder="VA"/>
                        </div>
                        <!-- <div *ngIf="prefForm.controls['state_code'].invalid && (prefForm.controls['state_code'].dirty || prefForm.controls['state_code'].touched)" class="alert alert-danger">
                            <div *ngIf="prefForm.controls['state_code'].errors.required">
                            State is required.
                          </div>
                        </div> -->
                    </div>
                    <div class="input-wrap-2">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>Zip Code</label>
                            <input class="form-control" formControlName="zip" type="text" placeholder="55555"/>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>MAX PRICE</label>
                            <input formControlName="max_price" class="datepicker flatpickr-input form-control" type="number" placeholder="$ xxx.xx / Month" min="0" step=".01" value="$" />
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>BEDS</label>
                            <input formControlName="num_beds" class="datepicker flatpickr-input" type="number" placeholder="#" min="0" step="0.5" />
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>BATHS</label>
                            <input formConntrolName="num_baths" class="datepicker flatpickr-input" type="number" placeholder="#" min="0" step=".5" />
                        </div>
                    </div>
                  
                </div>
             
                
                <div class="row last">
                    <button class="btn-search" type="submit" [disabled]="!prefForm.valid">Search</button>
                    <div *ngIf="!prefForm.valid" class="alert alert-danger">
                        <p>City and State Necessary</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div style="text-align: center;">
    <h1 >Search Results</h1>
    <h2 *ngIf="response; else NRF">Found {{response.length}}</h2>
    <ng-template #NRF>No Results Found</ng-template>
</div>
<div class="container">
    <!-- Search component right here
        button must be able to do get request from spring application
    -->

    <div *ngIf="response">
        <!-- Table with ngFor for every object in the response body-->
        <table class="table-table-bordered table-hover">
            <thead>
                <th>Address</th>
                <th>Price</th>
                <th>Beds</th>
                <th>Baths</th>
                <th>Sq Ft</th>
                <th>Type</th>
                <th>Photo</th>
            </thead>
            <tbody>
                <tr *ngFor="let property of response">
                    <td>{{property.street_num}} {{property.street}} {{property.apt_num}}, {{property.city}}, {{property.zip}}</td>
                    <td>${{property.price}}</td>
                    <td>{{property.num_beds}}</td>
                    <td>{{property.num_baths</td>
                    <td>{{property.sqft}}ft.</td>
                    <td>{{property.type}}</td>
                    <td><img src="{{property.photo}}" class="img-thumbnail mx-auto dblock" style="width:30%"/></td>
                    <!-- Perhaps use a DTO instead of a property so that the address, price, & property type are more 
                        easily displayed and formatted
                    -->
                </tr>
            </tbody>
        </table>
    </div>
</div>