<app-background2></app-background2>
<!-- <app-background></app-background> -->
<!-- <div class="jumbotron">
  <h1 *ngIf="currentUser">Welcome {{(currentUser.firstName + ' ' + currentUser.lastName) | titlecase }}!</h1>
  <button class="btn btn-success" (click)="getReimb()">LOAD</button>
  <button class="btn btn-success" (click)="logout()">LOGOUT</button>

  <div>
    
</div> -->



<div class="s011">
    <form>
        <fieldset>
            <legend>Search Rentals</legend>
        </fieldset>
        <div class="inner-form">
          
            <div class="type3 main-form" id="main-form">
                <div class="row">
                    <div class="input-wrap">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>City</label>
                            <input type="text" placeholder="name of city">
                        </div>
                        
                    </div>
                    <div class="input-wrap-2">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>State</label>
                            <input type="text" placeholder="VA" required>
                        </div>
                    </div>
                    <div class="input-wrap-2">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="input-field">
                            <label>Zip Code</label>
                            <input type="text" placeholder="55555" required>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>PRICE</label>
                            <input class="datepicker flatpickr-input form-control" type="number" placeholder="$ xxx.xx / Month" min="0" step=".01" value="$">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>BEDS</label>
                            <input class="datepicker flatpickr-input" type="number" placeholder="#" min="0" step="1">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="input-field">
                            <label>BATHS</label>
                            <input class="datepicker flatpickr-input" type="number" placeholder="#" min="0" step=".5">
                        </div>
                    </div>
                  
                </div>
             
                
                <div class="row last">
                    <button class="btn-search" type="button">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container rendom">
    <div class="row">
        <div class="col">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perferendis a consequatur praesentium, minus voluptate facere enim, at aut blanditiis maxime delectus fuga qui maiores alias illo exercitationem dolor nobis.</p>
        </div>
    </div>
</div>