.profile-page {
  margin-top: -55rem;
  text-align: center;
  color: black;
}

/* .profile-ul strong {
  color: rgb(27, 27, 155);
  text-transform: uppercase;
  font-weight: 700;

} */
/* .profile-ul span {
  margin-left: 2rem;
  color: rgb(66, 124, 129);
} */

.profile-ul li {
  padding: 7px 5px;
  font-size: 19px;
  list-style: none;
}

.prefer {
  padding: 3rem 0;
  background-color: rgba(0,0,0,0.5);
}

/* .prefer1 {
  padding-top: 3rem;
  background-color: rgba(0,0,0,0.5);
} */

span {
  padding-left: 1.4rem;
}

strong {
  text-decoration: underline;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 3rem;
  color: white;
  /* text-decoration: underline; */
}


.edit{
  color: white;
  background-color: rgb(111, 183, 189);
  width: 100px;
  text-align: center;
  justify-content: center;
  }
  
  .edit:hover{
  color: black;
  background-color: white;
  }
/* property */

.savedproperty {
  margin: 0 auto;
}

table {
  font-size: 10pt;
  color: white;
}

table .row {
  color: black;
}

