<nav class ="navbar navbar-expand-xlg navbar-dark bg-dark ">
    <div class="collapse navbar-collapse float-right"></div>
      <!--logo-->
      <a class="navbar-brand" href="\home"><img src="..\assets\RBoR.jpg" width="40" height="50"  class="d-inline-block align-top"></a>
      <!--nav buttons-->
      
          <a class="navbar-brand nav-item nav-link border ml-auto" style="margin-left: 5px; padding: 2px;" routerLink="/login"> Login </a> 
       
          <a class="navbar-brand nav-item nav-link border" style="margin-left: 5px; padding: 2px;" routerLink="/register"> Register </a> 
       
    
    
  </nav>
  <br>
<br>
<h2>You have successfully logged out.</h2>
