.navbar {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    color: white;
    width: 100%;
    padding: 1.7rem;
    z-index: 1;
  }
  
  .nav li a {
    color: white;
   
  }

  .nav1 {
     float: right!important;
  }
  
  .nav li a:hover {
    background-color: rgb(111, 183, 189);
  }