.navbar {
    background-color: rgba(0,0,0,0.5);
    /* position: fixed; */
    color: white;
    width: 100%;
    padding: 1.7rem;
    /* z-index: 1; */
    font-size: 2em;
  }
  
  .nav li a {
    color: white;
   
  }

  .nav li a:hover {
    background-color: rgb(111, 183, 189);
  }
