<div class="container-fluid navbar">
    <div class="row">
      <div class="col">
        <nav class="w-100 nav1">
          <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" (click)="toLogin()">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="toRegister()">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="toSearch()">Search Rentals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="toProfile()">Profile</a>
              </li>
              <!-- ----- -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/usersearchpage" >User Search</a>
              </li>
              <!-- -------- -->
              
              <li>
                <a (click)="toPropCreate()" class="nav-link">Create Property</a>
              </li>
              <li id="logout">
                <a (click)="logout()" class="nav-link">Log Out</a>
              </li>
          </ul>
          
        </nav>
      </div>
    </div>
  </div>
  
  
  <!-- <script>
   $('.navTrigger').click(function () {
        $(this).toggleClass('active');
        console.log("Clicked menu");
        $("#mainListDiv").toggleClass("show_list");
        $("#mainListDiv").fadeIn();
    
    });
  </script> -->
  
  
  
  <!-- Jquery needed -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/scripts.js"></script> -->
  
  <!-- Function used to shrink nav bar removing paddings and adding black background -->
  <!-- <script>
      $(window).scroll(function() {
          if ($(document).scrollTop() > 50) {
              $('.nav').addClass('affix');
              console.log("OK");
          } else {
              $('.nav').removeClass('affix');
          }
      });
  </script> -->