<div style="height: 1000px">
    <!-- just to make scrolling effect possible -->
        <h2 class="myH2">What is Revature Realocator ?</h2>
        <p class="myP">Revature Realocator helps Revature employees who are relocating to a new area find a place to live!</p>
        <p class="myP">Combining the Realtor API with social networking, Revaure Realocator allows employees to: <ul>
            <li>Search for publicly listed rentals</li>
            <li>Search for Revature employees who have available spaces for rent</li>
            <li>Search for Revature employees who are looking for spaces to rent</li>
            <li>View accesibility to rental properties using the Walk Score API</li>
        </ul>
        
        <p class="myP">Advance your career, but take it easy at home!</p>
</div>