<app-navbar></app-navbar>
<app-background></app-background>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12 prop-view">
            <div class="propDetails">
                <div class="row">
                    <div class="column">
                        <img src="{{viewedProperty.photo}}" class="img-thumbnail mx-auto dblock" style="width:50%"/>
                    </div>
                </div>  
                <div class="row">
                    <div class="column">
                        <span>  Address: {{viewedProperty.street_num}} {{viewedProperty.street}} {{viewedProperty.apt_num}}, {{viewedProperty.city}}, {{viewedProperty.zip}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <span>Price: ${{viewedProperty.price}} </span>
                    </div>
                    <div class="col-lg-4">
                        <span>Beds: {{viewedProperty.num_beds}} </span>
                    </div>
                    <div class="col-lg-4">
                        <span>Baths: {{viewedProperty.num_baths}} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <span>Square Feet: {{viewedProperty.sq_ft}} ft. </span>
                    </div>
                    <div class="col-lg-4">
                        <span>Type: {{viewedProperty.type}} </span>
                    </div>
                    <div class="col-lg-4">
                        <span>Emp Owned? {{viewedProperty.revemp_owned}}</span>
                    </div>
                </div>
            </div>
            <div>
                <div *ngIf="alreadySaved" class="alert alert-danger">
                    <p style="font-size:10pt;">You have already saved this property.</p>
                </div>
                <button class="btn-search" (click)="saveProperty()" [disabled]="alreadySaved">Save Property</button>
            </div>
        </div>
    </div>
</div>