<app-navbar></app-navbar>
<app-background></app-background>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12 prop-view">
            <div>
                <img src="{{viewedProperty.photo}}" class="img-thumbnail mx-auto dblock" style="width:80%"/>
            </div>
            <div class="propDetails">
                <div class="row">
                    <div class="col-lg-8">
                        <p>Address: {{viewedProperty.street_num}} {{viewedProperty.street}} {{viewedProperty.apt_num}}, {{viewedProperty.city}}, {{viewedProperty.zip}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Price: ${{viewedProperty.price}} </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Beds: {{viewedProperty.num_beds}} </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Baths: {{viewedProperty.num_baths}} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Square Feet: {{viewedProperty.sq_ft}} ft. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Property Type: {{viewedProperty.type}} </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Revature Employee Owned? {{viewedProperty.revemp_owned}}</p>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn-search" (click)="saveProperty()">Save Property</button>
            </div>
        </div>
    </div>
</div>