.prop-view {
  min-height: 30vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-size: cover;
  background-position: center center;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  background-color:rgba(0,0,0,0.5);
  padding: 1rem;
  margin-top: -80rem;
} 


.prop-view .btn-search {
  min-width: 100px;
  height: 50px;
  padding: 0 15px;

  background: rgb(47, 129, 253);

  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 900;
}

.prop-view .btn-search:hover {

  background: rgb(33, 93, 184);
}

.btn {
  background-color: rgb(111, 183, 189);
  width: 100px;
  text-align: center;
  justify-content: center;
  color: white;
  text-align: center;
  justify-content: center;
}

.btn:hover {
  color: black;
  background-color: white;
  }

h3 {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

label {
  color: white;
  padding-top: 1.5rem;
  font-weight: 500;
}

button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
  }

  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
    /* 2 */
  }

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  html {
    height: 100%;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
  }
  
  legend {
    margin: 0;
    padding: 0;
    display: block;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
  }
  
  /*===============================
  =            Choices            =
  ===============================*/


  
  * {
    box-sizing: border-box;
  }

  .row p {
    font-size: 14pt;
    color: #fff;
  }
