<app-navbar></app-navbar>
<app-background></app-background>

<div class="container login">
    <div class="d-flex justify-content-center h-100">

        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
<!-- username -->
            </div>
            <div class="card-body">
                <form [formGroup]="loginT" (ngSubmit)="onSubmit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="email" formControlName="email" type="text" class="form-control form-control-lg" placeholder="email" required>
                    </div>
<!-- password -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="password" formControlName="password" type="password" class="form-control form-control-lg" placeholder="password" required>
                    </div>

  <!-- register -->
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn login_btn btn-lg mt-5">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a routerLink="/register" routerLinkActive="active">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>