
<app-navbar ></app-navbar>
<app-background></app-background>


<div class="container text-center text-light p-5">

    <div class="row justify-content-center">
        <div class="col-lg-5 user-search">
        <form class ="user-search1" [formGroup]="usearchForm" (ngSubmit)="findUsersByState()" >
            <fieldset>
                <legend>Search Users by State</legend>
            </fieldset>

            <div class="input-field mt-3">
                <input class="form-control wdth" formControlName="current_state" type="text" placeholder="VA"/>
            </div>

            <div class="row last justify-content-center">
                <input type="submit" value="Search" class="btn-searchusears mt-5" [disabled]="!usearchForm.valid">
            </div>
            <div *ngIf="!usearchForm.valid" class="alert alert-danger mt-2">
                <p>State is required</p>
            </div>

        </form>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <h2 *ngIf="response; else NRF">Found {{response.length}} Results</h2>
    <ng-template #NRF>No Results Found</ng-template>
</div>
    <!-- show users -->
<div class="container user-results">
    <div class="row">
        <div class="col-lg-12">
              <table class="table-table-bordered table-hover" *ngIf="response">
                  <thead class="row">
                      <th class="col-lg-3">Name</th>      
                      <th class="col-lg-3">Email</th>
                      <th class="col-lg-3">State</th> 
                      <th class="col-lg-3">Status</th>     
                  </thead>

                  <tbody>
                      <!-- <tr class="row" *ngFor="let u of responce"> -->
                    <tr class="row" *ngFor="let u of response"> 
                          <td class="col-lg-3">{{u.f_name}} {{u.l_name}}</td>
                          <td class="col-lg-3">{{u.email}}</td>
                          <td class="col-lg-3">{{u.current_state}}</td>
                          <td class="col-lg-3">{{u.user_status}}</td>
                      </tr>
                  </tbody>

              </table>


          </div>
      </div>
  </div>
















































      
        
<!-- <label for="usersearch"></label>
 <input [(ngModel)]="user" type="text" class="form-control" placeholder="Name" required>

<h1>Search users here</h1>  
<label for="usersearch"></label>
<input [(ngModel)]="user" type="text" class="form-control" placeholder="Name" required>

<button (click)="User()" class="btn mt-5 text-center">Search</button>
<p id = "warning" style="color:red"></p> -->


