.user-search {
    background-color: rgba(0,0,0,0.5);
    margin-top: -50%;
    height: 70vh;
    /* padding: 5rem; */
}

.user-search1 {
    padding-top: 20%;
}
     
.btn-searchusears{
    color: white;
    background-color: rgb(111, 183, 189)!important;
    padding: 10px;
    text-align: center;
    justify-content: center;
    }
    
    .btn-searchusears:hover{
    color: rgb(114, 111, 111)!important;
    background-color: white!important;
    }

    input:focus, input:active{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;
        border: none!important
    }

    .user-results {
        padding-bottom: 5rem;
    }

    table {
        width: 70%;
        margin-left: 20%;
        margin-right: 10%;
        font-size: 14pt;
        border-color: black;
    }

    .container{
        position: relative;
        top: -110px;
        font-size: 1.2em;
    }

    h2{
        position: relative;
        top: -65px;
    }

