.background-image2 {
    width: 100%;
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /* height: 100%;*/
    /* background-image: url(image1.html); */
    /* background-position: center top; */
    
}

.background-image2 img {
    background-size:cover;
    background-attachment: fixed; 
    height: 110vh; 
    width: 100%;
}
